.page.donate {
  .stripe-donation-amounts {
    .stripe-donation-amount {
      display: inline;

      input[type=radio] {
        opacity: 0;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0 2px 0 0;
      }
    }

    .stripe-donation-custom-amount {
      display: inline-block;
      vertical-align: top;
      margin-left: 2px;
      text-align: right;
      font-size: 2rem;
      height: 5rem;
      width: 10rem;
    }
  }

  .stripe-donation-submit {
    padding: 5px 8px;
    color: $black;
    background-color: $red;
  }
}